/.vs
/src/Services/CurrencyExchange/bin
/src/Services/CurrencyExchange/obj
/src/Services/CurrencyExchange/CurrencyExchange.csproj.user
/src/Services/CurrencyExchange/.vs/CurrencyExchange/config
/src/Services/CurrencyExchange/.vs/CurrencyExchange/v16
/src/Services/CurrencyExchange/CurrencyExchange.sln
/src/Services/CurrencyConversion/bin
/src/Services/CurrencyConversion/obj
/src/Services/CurrencyConversion/CurrencyConversion.csproj.user
/src/.vs
/src/Services/CurrencyExchange/.vs
/src/bin
/src/obj
/src/BuildingBlocks/EventBus.Messages/obj
/src/BuildingBlocks/EventBus.Messages/bin
